/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-dark {
  /*Цвет декор элементов*/
  --color-accent: #FF0070;
  --color-accent-muted: rgba(255, 0, 112, 0.4);
  /*Фон страницы*/
  --bg-image: url(../images/cover-image-dark.png);
  /*Цвет заголовка*/
  --color-title: #DB00FF;
  --color-title-shadow: #FF0070;
  --color-text-description: #000028;
  --background-color-title-description: #FF0070;
  --color-decorated-border: rgba(255, 0, 112, 1);
  --border-buttom-focus: 1px solid rgba(255, 0, 112, 1);
  /*Основные цвета контента*/
  --color-main-title: #FF0070;
  --color-mine-subtitle: #000028;
  --color-main-title-background: #FF0070;
  --color-main-description-text: #F1B2CE;
  --color-main-links: #F1B2CE;
  --color-focus-visible-border: #F1B2CE;
  --color-focus-visible-outline: #FF0070;
}

:root.theme-dark .header__rec {
  display: block;
}
