/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  min-inline-size: var(--size-page-min);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.decorated-zone {
  position: absolute;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: var(--size-corner-decor);
  height: var(--size-corner-decor);
}

.decorated-zone::before {
  top: 0;
  right: 0;
  border-top: 1px solid var(--decorated-color);
  border-right: 1px solid var(--decorated-color);
  margin-top: var(--margin-decorated-zone);
  margin-right: var(--margin-decorated-zone);
}

.decorated-zone::after {
  bottom: 0;
  left: 0;
  border-bottom: 1px solid var(--decorated-color);
  border-left: 1px solid var(--decorated-color);
  margin-bottom: 10px;
  margin-left: 10px;
}

.header__rec {
  position: absolute;
  top: var(--border-lacation-top);
  right: var(--border-location-right);
  z-index: 10;
  background-color: transparent;
  color: var(--decorated-color);
  border-radius: var(--border-radius-rec);
}

.header__rec::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: var(--decorated-color);
  border-radius: var(--border-radius-dot);
  box-shadow: 0 0 4px 2px var(--decorated-color);  
  margin-left: 4px;
}

.header {
  display: grid;
  position: relative;
  height: 100vh;
  min-height: 668px;
}

.header__theme-menu {
  color: var(--decorated-color);
  margin-top: 74px;
  margin-right: 10px;
}

.header__theme-menu-list {
  display: grid;
  grid-template-rows: repeat(3, auto);
  justify-items: end;
  gap: 11px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  font-size: var(--font-size-base);
  text-transform: lowercase;
  font-weight: var(--font-weight-regular);
  min-width: var(--size-menu-min-width);
}

.header__theme-menu-button_active {
  border: 1px solid var(--decorated-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--decorated-color-border);
}

.header__theme-menu-button:focus {
  border: none;
  border-bottom: var(--border-buttom-focus);
}

.header__theme-menu-button:focus-visible {
  border: 2px solid rgb(255, 255, 255);
  outline: 2px solid rgb(255, 0, 0);
}

.header__title {
  min-width: 355px;
  color: var(--color-title);
  text-shadow: 4px 4px 0 var(--color-title-shadow);
  font-size: var(--font-size-title);
  text-wrap: wrap;
  line-height: var(--line-height-title);
  padding-left: 10px;
  padding-top: 12px;
}

.header__description {
  width: clamp(355px, 94.67vw, 364px);
  height: 117px;
  background-color: var(--background-color-title-description);
  color: var(--color-text-description);
  font-size: var(--font-size-base);
  font-weight: bold;
  text-wrap: wrap;
  justify-self: end;
  margin-right: 10px;
  margin-bottom: 12px;
}

.main {
  display: grid;
  font-size: var(--font-size-base);
  margin: 10px;
  gap: 10px;
}

.main__content {
  display: grid;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.main__content-center {
  display: grid;
  margin-top: 30px;
  gap: 20px;
  margin-bottom: 10px;
}

.main__title {
  color: var(--color-main-title);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-base);
}

.main__title-subtitle {
  color: var(--color-mine-subtitle);
  background-color: var(--color-main-title-background);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-base);
  margin-bottom: 10px;
}

.main__discription {
  color: var(--color-main-description-text);
}

.text__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--color-title-shadow);
}

.main__content-title-card {
  color: var(--color-text-description);
  background-color: var(--color-main-title-background);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
  margin-bottom: 19px;
}

.content__images-title {
  color: var(--color-main-title);
  background-color: var(--color-main-title-background);
  font-size: var(--font-size-base);
  margin-top: 30px;
}

.content__images {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin: 10px;
  margin-bottom: 40px;
}

.content__images-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.footer {
  display: grid;
  position: relative;
  height: 100vh;
  min-height: 668px;
  min-height: var(--size-header-min-height);
  justify-content: center;
  align-items: center;
}

.footer__title {
  color: var(--color-title);
  text-shadow: 4px 4px 0 var(--color-title-shadow);
  font-size: var(--font-size-title);
  line-height: var(--line-height-title);
}

@media (min-width: 768px) {
  .decorated-zone {
    margin-top: 10px;
    margin-right: 10px;
  }

  .decorated-zone::after{
    margin-bottom: 30px;
    margin-left: 20px;
  }
  
  .header__theme-menu {
    margin-top: 181px;
  }

  .header__title {
    padding-left: 0;
  }

  .header__description {
    width: 364px;
    margin-right: 10px;
    margin-bottom: 30px;
  }

  .main {
    margin-left: 20px;
    margin-top: 20px;
  }

  .main__content {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .main__content:last-child {
  margin-top: 60px;
  }

  .main__content-center {
    display: block;
    padding-top: 30px;
  }

  .main__content-center .main__title-subtitle {
    margin-top: 20px;
  }

  .main__title {
    grid-column: 1;
    grid-row: 1;
    width: 236px;
  }

  .main__content-card {
    grid-column: 2;
    margin-right: 10px;
  }

  .content__images {
    gap: 20px;
    margin: 20px;
    margin-top: 40px;
  }

  .content__images-image {
    object-fit: cover;
    object-position: center;
  }

  .content__images {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto min-content min-content min-content;
    object-fit: cover;
    object-position: center;
    grid-template-areas:
      "title  title  title"
      "sunset sunset ice"
      "tape books   ice"
      "tape street  street";
  }
  .content__images-title { grid-area: title; }
  .image-sunset { grid-area: sunset; }
  .image-ice    { grid-area: ice; }
  .image-tape   { grid-area: tape; }
  .image-books  { grid-area: books; }
  .image-street { grid-area: street; }

  .footer {
    margin-top: 70px;
  }

  .footer__title {
    margin-bottom: 20px;
    margin-left: 5px;
  }
}

@media (min-width: 1024px) {
  :root {
  --font-size-title: clamp(9.8125rem, 3.8542rem + 9.3099vw, 18.75rem);
  }

  .header__theme-menu{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-right: 0;
    margin-left: 10px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .header__title {
    margin-top: 150px;
  }

  .header__description {
    width: 491px;
    height: min-content;
    margin-bottom: 34px;
  }
  
  .main__content {
    gap: 5px;
    row-gap: 20px;
  }
  
  .main__title {
    width: 315px;
  }

  .main__content-center {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }

  .main__content-center .main__title {
    grid-column: 1;
    grid-row: 1;
    width: auto;
  }

  .main__content-center .main__content-card {
  grid-column: auto;
  grid-row: 2;
  }
  .main__content-center .main__title-subtitle {
    margin-top: 10px;
  }
}