/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  min-inline-size: 375px;
  background-image: var(--bg-image-dark);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header__rec {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
  background-color: transparent;
  color: #FF0070;
  border-radius: 30px;
}

.header__rec::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: #FF0070;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px #FF0070;
}

.header {
  display: grid;
  position: relative;
  height: 100vh;
  min-height: 668px;
}

.header__theme-menu {
  color:#FF0070;
  min-width: 70px;
  margin-top: 75px;
  margin-right: 10px;
}

.header__theme-menu-list {
  display: grid;
  grid-template-rows: repeat(3, auto);
  justify-items: end;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  text-transform: lowercase;
  font-weight: 400;
  min-width: 70px;
}

.header__theme-menu-button_active {
  border: 1px solid #FF0070;
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
}

.header__theme-menu-button:focus {
  border: none;
  border-bottom: 1px solid rgba(255, 0, 112, 1);
}

.header__theme-menu-button:focus-visible {
  border: 2px solid rgb(255, 255, 255);
  outline: 2px solid rgb(255, 0, 0);
}

.header__title {
  min-width: 355px;
  color: #DB00FF;
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-wrap: wrap;
  line-height: 0.83;
  padding-left: 10px;
  padding-top: 9px;
}

.header__description {
  width: 355px;
  height: 117px;
  background-color: #FF0070;
  color: #000028;
  font-size: 18px;
  font-weight: bold;
  text-wrap: wrap;
  justify-self: end;
  margin-right: 10px;
  margin-bottom: 10px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  top: 0;
  right: 0;
  border-top: 1px solid #FF0070;
  border-right: 1px solid #FF0070;
  margin-top: 10px;
  margin-right: 10px;
}

.decorated-zone::after {
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #FF0070;
  border-left: 1px solid #FF0070;
  margin-bottom: 10px;
  margin-left: 10px;
}