:root {
  /*Типографика*/
  --font-size-base: 18px;
  --font-size-title: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --line-height-title: 0.83;
  --line-height-text: 23.4px;
/*Размеры*/
  --size-page-min: 375px;
  --size-header-min-height: 668px;
  --size-menu-min-width: 70px;
  --size-corner-decor: 25px;
  --size-rec-dot: 9px;
/*Границы*/
  --border-radius-rec: 30px;
  --border-radius-dot: 50%;
  --border-lacation-top: 12px;
  --border-location-right: 19px;
  /*Отступы*/
  --margin-decorated-zone: 10px;
  /*Цвет декор элементов*/
  --decorated-color: #FF0070;
  --decorated-color-border: rgba(255, 0, 112, 0.4);
  /*Фон страницы*/
  --bg-image: url(../images/cover-image-dark.png);
  /*Цвет заголовка*/
  --color-title: #DB00FF;
  --color-title-shadow: #FF0070;
  --color-text-description: #000028;
  --background-color-title-description: #FF0070;
  --color-decorated-border: rgba(255, 0, 112, 1);
  --border-buttom-focus: 1px solid rgba(255, 0, 112, 1);
  /*Основные цвета контента*/
  --color-main-title: #FF0070;
  --color-mine-subtitle: #000028;
  --color-main-title-background: #FF0070;
  --color-main-description-text: #F1B2CE;
  --color-main-links: #F1B2CE;
  --color-focus-visible-border: #F1B2CE;
  --color-focus-visible-outline: #FF0070;
}